.root {
	max-width: 800px;
	margin: 3rem auto;

	nav {
		margin: 3rem 0;
	}

	article {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin: 1.3rem;

		header {
			display: flex;
			justify-content: space-between;
			gap: 2rem;

			@media (max-width: 500px) {
				flex-direction: column;

				button {
					width: 100%;
					padding: 1rem;
				}
			}

			p {
				font-size: 1.1rem;
				color: var(--text-muted);
			}
		}

		section {
			h2 {
				margin-bottom: 0.5rem;
			}

			ul {
				list-style-position: inside;
			}
			li {
				line-height: 2;

				@media (max-width: 500px) {
					line-height: 1.5;
				}
			}
		}
	}
}
