.root {
	max-width: 800px;
	margin: 3rem auto;

	nav {
		margin: 3rem 0;
	}

	article {
		display: grid;
		gap: 2rem;
		margin: 1.3rem;

		header {
			display: grid;
			grid-template-columns: auto 25%;
			justify-content: space-between;
			gap: 2rem;

			.actions {
				display: grid;
				grid-template-columns: 15% auto;
				gap: 1rem;
				align-items: center;
			}

			@media (max-width: 500px) {
				grid-template-columns: auto;

				button {
					padding: 1rem;
				}
			}

			p {
				font-size: 1.1rem;
				color: var(--text-muted);
			}
		}

		section {
			h2 {
				margin-bottom: 0.5rem;
			}

			ul {
				list-style-position: inside;
			}
			li {
				line-height: 2;

				@media (max-width: 500px) {
					line-height: 1.5;
				}
			}
		}
	}
}
