.root {
	background-color: var(--card-bg);
	border-radius: 0.5rem;
	margin-bottom: 16px;
	padding: 2rem;
	box-shadow: 0 1px 0 var(--shadow);

	> * {
		margin: 0.3rem 2.4rem;
	}

	p {
		color: var(--text-muted);
	}

	svg {
		background-color: var(--primary-dark);
		color: var(--primary-light);
		border-radius: 100%;

		width: 64px;
		height: 64px;
		padding: 1rem;
	}
}
