.root {
	background-color: var(--surface);
	color: var(--text-primary);
	padding: 0.8rem 1rem;
	border-radius: 0.5rem;

	cursor: pointer;
	transition: all linear 0.1s;

	&:hover {
		background-color: oklch(from var(--surface) calc(l + 0.04) c h);
	}
	&:active {
		background-color: var(--surface);
		color: var(--text-primary);
	}
	&:focus {
		outline: 2px solid oklch(from var(--primary) l c h / 0.5);
		outline-offset: 2px;
	}
}

.placeholder {
	color: var(--text-muted);
}
