.root {
	display: flex;
	justify-content: center;
	gap: 1rem;

	button {
		background-color: transparent;
		color: var(--text-muted);

		cursor: pointer;
	}
	button:active,
	button:focus-visible {
		outline: 1px solid var(--primary);
		outline-offset: 2px;
	}

	.active {
		background-color: var(--primary);
		color: var(--text-primary);
	}
}

.pages button {
	font-size: 1.2em;
	font-weight: bold;

	width: 2.5rem;
	height: 2.5rem;
	margin: 0 3px;

	transition: all linear 0.1s;

	border-radius: 0.5rem;
}
