.root {
	display: grid;
	grid-template-columns: 20% auto;
	margin: 2rem 1rem;
}

.sideBar {
	display: flex;
	flex-direction: column;
	gap: 2rem 0;

	header {
		display: flex;
		align-items: center;
		gap: 1rem;

		h1,
		p {
			font-size: 0.9rem;
		}
		p {
			color: var(--text-muted);
		}
	}

	nav {
		gap: 0.2rem;

		button {
			--bg: var(--primary);
			color: var(--text-muted);
			text-align: left;

			&:active,
			&:focus {
				color: var(--text-primary);
			}

			background-color: transparent;
		}
	}
}

.content {
	&,
	section {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		margin: 0 2rem;
	}

	> header {
		margin-bottom: 3rem;
	}
	header p {
		color: var(--text-muted);
	}

	section {
		gap: 1rem;
	}
	section div {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 1rem;
	}
}
