.root {
	display: flex;
	flex-direction: column;
	align-items: center;

	> section > header {
		text-align: center;
		margin: 20px;

		h1 {
			font-size: 3rem;
			font-weight: bolder;
		}

		p {
			color: var(--text-secondary);
		}
	}

	> section {
		width: 100%;
		max-width: 980px;
		margin-bottom: 3rem;
	}
}

.filters {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 1.5rem;
	margin-top: 15px;

	button {
		padding: 0.8rem;
	}
}
