.root {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	margin: 3rem auto;
	max-width: 800px;

	header {
		display: flex;
		justify-content: space-between;
		gap: 2rem;

		p {
			font-size: 1.3rem;
			color: var(--text-muted);
		}
	}

	section {
		h2 {
			margin-bottom: 0.5rem;
		}

		ul {
			list-style-position: inside;
		}
		li {
			line-height: 2;
		}
	}
}
