.root {
	background-color: var(--surface);
	border-radius: 0.5rem;
	padding: 1.2rem 2rem;
	box-shadow: 0 1px 0 var(--shadow);

	> * {
		margin-bottom: 10px;
	}

	h3 {
		text-wrap: pretty;
	}

	p {
		text-wrap: pretty;
		color: var(--text-muted);
	}

	svg {
		background-color: oklch(from var(--primary) calc(l - 0.3) c h);
		color: var(--primary);
		border-radius: 100%;

		width: 64px;
		height: 64px;
		padding: 1rem;
	}
}
