/* module.css (simplified) */
.root {
	font-weight: bold;
	font-size: 0.9rem;

	cursor: pointer;
	border-radius: 5px;
	padding: clamp(0.5rem, 2.5vw, 0.9rem) 1rem;
	color: var(--text-primary);

	background-color: var(--bg, transparent);
	transition:
		background-color 300ms ease,
		transform 200ms ease;

	&:active {
		background-color: oklch(from var(--bg) l c h / 0.8);
		transform: translateY(1px);
	}
	&:disabled {
		opacity: 0.8;
		cursor: not-allowed;
	}
}

.primary {
	--bg: var(--primary);
}
.secondary {
	--bg: var(--surface);
}
.success {
	--bg: oklab(61.951% -0.13 0.08308);
}
.destructive {
	--bg: oklab(68.093% 0.15263 0.06306);
}
