.root {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;

	background-color: var(--background);

	padding: 1.3rem;
	border-bottom: 1px solid var(--border);

	> div {
		display: flex;
		align-items: center;
		gap: 0 0.5rem;
	}
}

.logo {
	display: flex;
	gap: 0.4rem;

	svg {
		color: var(--primary);
	}

	p {
		font-size: large;
		font-weight: bold;
		margin: 0;
	}
}

.nav {
	a {
		font-size: 0.95rem;
		font-weight: 700;

		color: var(--text-secondary);

		padding: 0 1rem;
		border-radius: 0.5rem;

		transition: color linear 0.1s;

		&:hover {
			color: var(--primary);
		}
		&:active {
			color: oklch(from var(--primary) calc(l - 0.1) c h);
		}
	}

	.active {
		color: var(--primary);
	}
}

@media (max-width: 500px) {
	.root {
		flex-direction: column;
	}
}
