:root {
	--primary: #09f;

	--background: #06182a;
	--surface: #1e293b;

	--text-primary: #ffffff;
	--text-secondary: #cbd5e1;
	--text-muted: #94a3b8;

	--border: rgba(255, 255, 255, 0.1);
	--shadow: rgba(0, 0, 0, 0.3);
}
