:root {
	--primary: oklch(0.669 0.18 248);

	--background: oklch(0.204 0.04 250);
	--surface: oklch(0.279 0.0368 260.03);

	--text-primary: oklch(1 0 129);
	--text-secondary: oklch(0.869 0.01 252);
	--text-muted: oklch(0.7 0.03 256);

	--border: oklch(1 0 0 / 10%);
	--shadow: oklch(0 0 0 / 30%);
}
