.root {
	gap: 2rem;
	padding: 2rem;

	&,
	header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	header {
		margin: 10px;
		gap: 1rem;

		h1 {
			font-size: 3rem;
			font-weight: bolder;
		}
	}

	> section {
		width: 100%;
		max-width: 980px;
	}
}

.filters {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;

	margin-top: 15px;
}
