.root {
	display: flex;
	flex-direction: column;
	align-items: center;

	section > header {
		text-align: center;
		margin: 20px;

		h1 {
			font-size: 3rem;
			font-weight: bolder;
		}
	}

	> section {
		width: 100%;
		max-width: 980px;
		margin-bottom: 3rem;
	}
}

.filters {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
	gap: 20px;

	margin-top: 15px;
}
