.root {
	--height: 300px;

	margin: 2rem 0;
	min-height: var(--height);

	border: 1px solid var(--border);
	border-radius: 0.5rem;
}

.empty,
.loading {
	display: flex;
	align-items: center;
	justify-content: center;

	height: var(--height);

	font-weight: bold;
	color: var(--text-muted);
}
