@layer reset, base;

@layer reset {
	* {
		margin: 0;
		padding: 0;
		border: 0 solid;
		box-sizing: border-box;
	}

	body {
		font-family: system-ui;
		line-height: 1.6;
		min-height: 100vh;
	}

	img {
		display: block;
		max-width: 100%;
	}
}

@layer base {
	body {
		background-color: var(--background);
		color: var(--text-primary);
	}

	a {
		text-decoration: none;
		color: unset;

		&:hover {
			color: var(--primary);
		}
		&:active {
			color: oklch(from var(--primary) calc(l - 0.1) c h);
		}
	}
}
